.infoResto {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.tables{
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}