
.publish-container  {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    background-color: rgb(230, 221, 204);
    padding: 15px;
    width: 500px;
  }

.table-title {
  display: flex;
  justify-content: space-between;
}

.table-title button {
  width: 200px;
  margin: 0 0 0 20px;
  padding:0;
}